@page "/Vehiculos"

@using Vehiculos_20190634.Data.Models;


<PageTitle>Registro de Vehiculos</PageTitle>

<h1>Registro de Vehiculos </h1>


<label>Serial No.</label>
<input @bind="Registra.VehiculoID">
<div class="mt-3"></div>

<label>Marca</label>
<input @bind="Registra.Marca">
<div class="mt-3"></div>

<label>Modelo</label>
<input @bind="Registra.Modelo">
<div class="mt-3"></div>

<label>A単o</label>
<input @bind="Registra.A単o">

<label>Color</label>
<input @bind="Registra.Color">

<button class="btn @(Registra.VehiculoID) Btn-Primary" @onclick="Guardar">Enviar</button>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Marca</th>
            <th>Modelo</th>
            <th>A単o</th>
            <th>Color</th>
        </tr>
    </thead>
     <tbody>
        @foreach (var Vehiculo in (Vehiculos))
        {
            <tr>
                <td>@Vehiculo.VehiculoID</td>
                <td>@Vehiculo.Marca</td>
                <td>@Vehiculo.Modelo</td>
                <td>@Vehiculo.A単o.</td>
                <td>@Vehiculo.Color </td>
            </tr>
        }
    </tbody>
</table>

@code
{
    public Vehiculos Registra {get;set;}= new Vehiculos{};

    public List<Vehiculos> Vehiculos {get;set;} = new List<Vehiculos>();


void Guardar()
{
 if ( !string.IsNullOrEmpty(Registra.VehiculoID)
    )
       {
          Vehiculos!.Add(Registra);
          var Indice= Vehiculos!.FindIndex(p=>p.VehiculoID == Registra.VehiculoID);
          Vehiculos![Indice]= Registra;
        
         
         }  



}




};


